<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="salesforce.connection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <salesforce.connection.Properties.Settings>
            <setting name="salesforce_connection_Salesforce_SforceService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/38.0</value>
            </setting>
        </salesforce.connection.Properties.Settings>
    </applicationSettings>
</configuration>