<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SalesforceUsername" value="[salesforce login/email]" />
    <add key="SalesforcePassword" value="[salesforce password + security token]" />
    <add key="SalesforceConnectionPoolCapacity" value="4" />
    <add key="SalesforceConnectionPoolGetConnectionTimeout" value="10000" />
  </appSettings>
</configuration>